### Exercício Cap08

### Exercício 1

In [5]:
# Crie um array NumPy com 1000000 e uma lista com 1000000.
# Multiplique cada elemento do array e da lista por 2 e calcule o tempo de execução com cada um dos objetos (use %time).
# Qual objeto oferece melhor performance, array NumPy ou lista?
import numpy as np

ar = np.arange(1000000)
lista = list(range(1000000))

%time for c in range(10): ar2 = ar*2
%time for c in range(10): lista2 = [x * 2 for x in lista]

Wall time: 43.9 ms
Wall time: 1.78 s

### Exercício 2

In [6]:
# Exercício 2
# Crie um array de 10 elementos
# Altere o valores de todos os elementos dos índices 5 a 8 para 0

import numpy as np

ar = np.arange(10)

ar[5:8] = 0

print(ar)
type(ar)

[0 1 2 3 4 0 0 0 8 9]

numpy.ndarray

### Exercício 3

In [7]:
# Crie um array de 3 dimensões e imprima a dimensão 1 
import numpy as np
ar = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
print(ar[0])
type(ar)

[[1 2 3]
 [4 5 6]]

numpy.ndarray

### Exercício 4

In [11]:
# Crie um array de duas dimensões (matriz).
# Imprima os elementos da terceira linha da matriz
# Imprima todos os elementos da primeira e segunda linhas e segunda e terceira colunas

import numpy as np
ar = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

print(ar)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [12]:
print(ar[2])

[7 8 9]

In [13]:
print(ar[:2, 1:])

[[2 3]
 [5 6]]

### Exercício 5

In [14]:
# Calcule a transposta da matriz abaixo
arr = np.arange(15).reshape((3, 5))
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [25]:
arr.T

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

### Exercício 6

In [15]:
# Considere os 3 arrays abaixo
# Retorne o valor do array xarr se o valor for True no array cond. Caso contrário, retorne o valor do array yarr.
xarr = np.array([1.1, 1.2, 1.3, 1.4, 1.5])
yarr = np.array([2.1, 2.2, 2.3, 2.4, 2.5])
cond = np.array([True, False, True, True, False])

for x, y, c in zip(xarr, yarr, cond):
    print(x, y, c)

1.1 2.1 True
1.2 2.2 False
1.3 2.3 True
1.4 2.4 True
1.5 2.5 False

In [16]:
resultado = [(x if c else y) for x, y, c in zip(xarr, yarr, cond)]
resultado

[1.1, 2.2, 1.3, 1.4, 2.5]

### Exercício 7

In [17]:
# Crie um array A com 10 elementos e salve o array em disco com a extensão npy
# Depois carregue o array do disco no array B

A = np.arange(10)
print(A)
np.save('array_a', A)

[0 1 2 3 4 5 6 7 8 9]

### Exercício 8

In [18]:
B = np.load('array_a.npy')
print(B)

[0 1 2 3 4 5 6 7 8 9]

In [19]:
# Considerando a série abaixo, imprima os valores únicos na série
import pandas as pd
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c', 'a', 'b'])

In [20]:
uniques = obj.unique()
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

### Exercício 9

In [21]:
# Considerando o trecho de código que conecta em uma url na internet, imprima o dataframe conforme abaixo.
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [22]:
data = resp.json()
data[0]['title']

'merge_ordered() should accept left_index and right_index args'

In [23]:
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])
issues

,number,title,labels,state
0,27760,merge_ordered() should accept left_index and r...,[],open
1,27758,Cannot plot empty Series,[],open
2,27756,Error reading parquet from s3 with s3fs >= 0.3.0,"[{'id': 2301354, 'node_id': 'MDU6TGFiZWwyMzAxM...",open
3,27755,Fix numpy boolean subtraction error in Series....,[],open
4,27750,Suppress UnicodeEncodeError when executing to_...,[],open
5,27749,to_csv() and read_csv() do not preserve dtype ...,[],open
6,27748,Reference docs: Nearly empty page for pandas.D...,[],open
7,27745,DEPR: remove alias of Categorical.take_nd to C...,[],open
8,27744,DEPR: remove Index._is_all_dates?,[],open
9,27737,to_csv and read_csv return inconsistent result...,[],open
10,27736,REF: pandas/core/window.py into multiple files,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
11,27733,"BUG: fix to_datetime(dti, utc=True)","[{'id': 211840, 'node_id': 'MDU6TGFiZWwyMTE4ND...",open
12,27732,TYPING: more type hints for io.common,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
13,27730,BUG: update dict of sheets before check,"[{'id': 49254273, 'node_id': 'MDU6TGFiZWw0OTI1...",open
14,27729,use DataFrame.style and can't get [cellstyle] ...,[],open
15,27722,What to use instead of pd.read_msgpack/df.to_m...,[],open
16,27721,problem in groupby-rank w/ multindex column,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
17,27719,Removed continued parametrization of FilePathO...,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
18,27718,Set to_csv(index=False) by default,[],open
19,27709,any/all reductions on boolean object-typed Series,[],open
20,27696,Fix pandas replace does not work with boolean,[],open
21,27692,Data types are not preserved while concatenati...,"[{'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDk...",open
22,27686,dataframe.plot with secondary_y=True makes dif...,"[{'id': 2413328, 'node_id': 'MDU6TGFiZWwyNDEzM...",open
23,27684,`to_sql` does not correctly load data into sno...,"[{'id': 47232590, 'node_id': 'MDU6TGFiZWw0NzIz...",open
24,27682,ENH: Implement weighted rolling var and std,"[{'id': 1045950827, 'node_id': 'MDU6TGFiZWwxMD...",open
25,27679,to_parquet swallows NoCredentialsError,"[{'id': 685114413, 'node_id': 'MDU6TGFiZWw2ODU...",open
26,27678,Option to raise on dtype coercion in append / ...,[],open
27,27677,BUG: fixes formatted value error for missing s...,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
28,27676,read_excel: sheet_name of non-existent sheet d...,"[{'id': 49254273, 'node_id': 'MDU6TGFiZWw0OTI1...",open
29,27672,dataframe.fillna with df fails in a specific case,"[{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...",open

### Exercício 10

In [24]:
# Crie um banco de dados no SQLite, crie uma tabela, insira registros, 
# consulte a tabela e retorne os dados em dataframe do Pandas
import sqlite3
import pandas as pd
query = """
CREATE TABLE TESTE
(Cidade VARCHAR(20), 
 Estado VARCHAR(20),
 taxa REAL,        
 Impostos INTEGER
);"""
con = sqlite3.connect('dsa.db')
con.execute(query)
con.commit()

In [25]:
data = [('Natal', 'Rio Grande do Norte', 2.63, 8),
        ('Recife', 'Pernambuco', 1.6, 2),
        ('Londrina', 'Paraná', 0.9, 5)]
stmt = "INSERT INTO TESTE VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [26]:
cursor = con.execute('select * from teste')
rows = cursor.fetchall()
rows

[('Natal', 'Rio Grande do Norte', 2.63, 8),
 ('Recife', 'Pernambuco', 1.6, 2),
 ('Londrina', 'Paraná', 0.9, 5)]

In [27]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

     Cidade               Estado  taxa  Impostos
0     Natal  Rio Grande do Norte  2.63         8
1    Recife           Pernambuco  1.60         2
2  Londrina               Paraná  0.90         5